body {
  margin: 0;
  font-family: "MaruBuriExtraLight", "MaruBuri", "MaruBuriBold",
    "MaruBuriSemiBold", "MaruBuriLight";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
